* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #0000009d;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0000009d;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }




.home {
    display: flex;
    width: 375px;
    justify-content: center;
    background-color: black;
    color: white;
    height: 800px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}


.home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    width: 100%;
}

.photo-weather img {
    max-width: 100px;
}

.home-title p {
    font-size: 18px;
}

.home-search {
    display: flex;
    width: 315px;
    justify-content: center;
}

.search-input {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.search-input form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.from-icon-search {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    gap: 1em;
    padding-left: 2em;
    justify-content: flex-start;
    border-radius: 16px;
    height: 50px;
}

.from-icon-search i {
    opacity: 0.3;
}

.from-icon-search input {
    border: none;
    text-align: start;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    height: 40px;
    width: 80%;
}


.from-container-selects select {
    border: 1px solid white;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 16px;    
    font-size: 16px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;

}

.from-btn-submit {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 16px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;

}

.from-btn-submit:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}


.home-weather-search {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    height: 100%;
    overflow-y: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}


.weather-search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 1em 5px 1em;
    justify-content: center;
    align-items: center;
    width: 315px;
    justify-content: space-between;
    background-color: #c4c4c47e;
    border-radius: 16px;
    height: auto;
}



.col-1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 150px;
    justify-content: center;
}

.name p {
    font-size: 14px;
    font-weight: 100;

}

.name strong {
    font-size: 14px;
}

.number  {
    display: flex;
    flex-direction: column;
    justify-content:center;

}

.temp p {
    font-size: 25px ;
}

.temp-max-min {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    font-size: 15px;
    gap: 5px;
}


.col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-2 i {
    font-size: 30px;
}


.weater-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.weater-img img {
    width: 100px;
}

.weater-img p {
    font-size: 12px;
}

.p-error {
    color: red;
    font-weight: bold;
    text-align: center;
}